name: Run tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu_latest
    steps:
      - name: Downoload the code
        uses: actions/checkout@v4
      - name : Set Up Python
        uses: actions/setup-python@v5
        with:
         python-version: "3.11"
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; thrn pip install -r requirements.txt; fi
          pip install pytest
      - name: Run tests
        run: pytest -v 
